/* tag selectors */
section {
	font-family: 'Droid Sans', sans-serif;
}
li {
	display: inline;
}
header, footer {
	height: 50px;
}
/* class selectors */
.page {
	max-width: 1000px;
	margin: 0 auto;
}
.social-links {
	background-color: #BBB000;
	float: right;
	height: inherit;
	line-height: 50px;
	margin: 0 auto;
	font-size: large;
}
.social-top, .social-bottom {
	margin: auto 10px;
}
.home-link {
	float: left;
	height: inherit;
	width: auto;
}
.home-link > img {
	height:inherit;
	width: auto;
}