/* tag selectors */
section {
	font-family: 'Droid Sans', sans-serif;
}
li {
	display: inline;
}

body {
	background-color: #CCCCCC;
}
article {
	border-style: solid;
	border-width: medium;
	background-color: #CFFFFF;
	width: 640px;
}
/* class selectors */
.social-links {
	background-color: #BBB000
}
.social-top, .social-bottom {
	height: 12px;
	/*background-color: #00000F;*/
}